@charset "UTF-8";

/*視窗背景*/
body {
  background: #b8b8dc url("../img/kh.jpg") repeat-x;

  background-size: 80px 170px;
}

/*連結色*/
a {
  color: #df4839;
}
a:hover {
  color: #ff705b;
  text-decoration: none;
}

/*頁首,導覽,頁尾共通設定*/
header,
nav,
footer {
  text-align: center;
}

/*導覽樣式*/
.menu li {
  list-style-type: none;
  display: inline-block;
  width: 180px;
  margin: 0px 10px;
}
.menu a {
  display: block;
  padding: 10px;
  background: #6fbb9a;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
}
.menu a:hover {
  background: #90ddbb;
}
/*移至最上*/
.home {
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 50px;
  height: 50px;
  padding: 5px;
  background: #484891;
  color: #fff;
  font-size: 1.3rem;
  line-height: 1;
  border-radius: 50px;
  text-align: center;
  line-height: 50px;
  transition: all 1s ease;
}

.home:hover {
  transform: scale(1.2);
  color: #fff;
}

a {
  text-decoration: none;
}

/*頁面標題*/
h1 {
  width: 300px;
  margin: 40px auto;
  padding: 30px;
  border: 5px solid #95bddb;
  background-color: #6fbb9a;
  color: #fff;
  font-size: 250%;
  text-align: center;
  line-height: 1;
  border-radius: 50%;
  text-shadow: 5px 5px 8px #307657;
  box-shadow: 5 5 10px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(to bottom, #6fbb9a, #4a9d79);
  font-family: "Limelight", cursive;
}

/*次標題*/
h2 {
  padding: 10px;
  margin-bottom: 30px;
  border: 2px solid #94c8b1;
  border-left: 10px solid #006030;
  color: #6fbb9a;
  border-radius: 10px;
}
/*小標題*/
h3 {
  width: 200px;
  padding: 4px;
  margin: 10px;
  border: 1px dotted #007979;
  color: #5b5b5b;
  background-color: #a3d1d1;
  border-radius: 10px;
}
/*小標題子元素*/
.h-sub span {
  font-weight: normal;
}

/*更多介紹*/
.more {
  text-align: right;
}
/*小圖示*/
.more::after {
  content: url(./img/1.png);
  max-width: 3px;
  vertical-align: middle;
}

a[target="_blank"]::after {
  content: url(./img/web.png);
  margin-left: 5px;
  vertical-align: middle;
}
a[href^="mailto"]::after {
  content: url(./img/mail.jpg);
  margin-left: 5px;
  vertical-align: middle;
}

/*內容區塊*/
#contents {
  width: 798px;
  margin: 40px auto;
  padding: 40px 80px;
  border: 1px solid #f6bb9e;
  background-color: #fff;
}
/*區塊分隔*/
#contents > section + section {
  margin-top: 80px;
}

/*文繞圖*/
.imgL {
  float: left;
  margin-right: 20px;
}
.imgR {
  float: right;
  margin-right: 20px;
}
.clear {
  clear: both;
}
.clearmix::after {
  content: "";
  display: block;
  clear: both;
}
