@charset "UTF-8";
* {
  margin: 0px;
}
/*視窗背景*/
body {
  background: #d6c3b4;
}

/*頁首,導覽,頁尾共通設定*/
header,
nav,
footer {
  text-align: center;
}

/*內容區塊*/
#contents {
  width: 740px;
  margin: 40px auto;
  padding: 40px 50px;
  border: 1px solid #003060;
  background-color: #fff;
  position: relative;
}
/*區塊分隔*/
#contents > section + section {
  margin-top: 80px;
}

h1 {
  padding: 10px;
  margin-bottom: 30px;
  text-align: center;
  background-color: #ff8f59;
  color: #003e3e;
  border-radius: 10px;
}

h2 {
  padding: 10px;
  margin-bottom: 30px;
  border: 2px solid #f3f4d5;
  background-color: #f4e8c0;
  color: #8d6a6e;
  border-radius: 10px;
}

/*切換頁面*/
.homework {
  position: absolute;
  left: -30px;
  top: 10px;
  width: 20px;
  height: 90px;
  padding: 5px;
  background: #b87f78;
  color: #fff;
  font-size: 1.0rem;
  line-height: 1;
  border-radius: 10px 0px 0px 10px;
  transition: background-color 1s 0s, color 1s 0s;
}
.homework:hover {
  background-color: #e2c6c4;
  color: #53565c;
}

.first {
  position: absolute;
  left: -30px;
  top: 120px;
  width: 20px;
  height: 90px;
  padding: 5px;
  background: #b87f78;
  color: #fff;
  font-size: 1.0rem;
  line-height: 1;
  border-radius: 10px 0px 0px 10px;
  transition: background-color 1s 0s, color 1s 0s;
}
.first:hover {
  background-color: #e2c6c4;
  color: #53565c;
}

.second {
  position: absolute;
  left: -30px;
  top: 230px;
  width: 20px;
  height: 90px;
  padding: 5px;
  background: #b87f78;
  color: #fff;
  font-size: 1.0rem;
  line-height: 1;
  border-radius: 10px 0px 0px 10px;
  transition: background-color 1s 0s, color 1s 0s;
}
.second:hover {
  background-color: #e2c6c4;
  color: #53565c;
}

.third {
  position: absolute;
  left: -30px;
  top: 340px;
  width: 20px;
  height: 90px;
  padding: 5px;
  background: #b87f78;
  color: #fff;
  font-size: 1.0rem;
  line-height: 1;
  border-radius: 10px 0px 0px 10px;
  transition: background-color 1s 0s, color 1s 0s;
}
.third:hover {
  background-color: #e2c6c4;
  color: #53565c;
}

/*移至最上*/
.top {
  position: fixed;

  right: 50px;
  bottom: 50px;
  width: 50px;
  height: 50px;
  padding: 5px;
  background: #484891;
  color: #fff;
  font-size: 1.3rem;
  line-height: 1;
  border-radius: 50px;
  text-align: center;
  line-height: 50px;
  transition: all 1s ease;
}

.top:hover {
  transform: scale(1.2);
}

a {
  text-decoration: none;
}

[class*="Ques"] .content {
  display: flex;
}

/*表示知己部分的題目*/
[class^="Ques"] {
  border: 3px solid #976666;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 1em;
}

/*表示知彼部分的題目*/
[class$="Ques"] {
  border: 3px solid #75809c;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 1em;
}
/*問券排版*/
.picture {
  margin-right: 20px;
}

.box {
  clear: both;
}

hr {
  border: none;
}

.box2::after {
  content: "";
  display: block;
  clear: both;
}
/*區塊間分隔*/
li + li {
  margin-top: 20px;
}

section + section {
  margin-top: 20px;
}

/*頁尾*/
#footer {
  background-color: gold;
  clear: both;
}
